#searchBar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 900px;
    position: relative;

    &::before {
        content: "";
        background-image: url('../images/icon-search.svg');
        width: 20px;
        height: 20px;
        position: absolute;
        left: 24px;
        top: 40px;

        @media (max-width: $tablet) {
            top: 34px;
        }
    }

    .search-query {
        height: 52px;
        border-radius: var(--Large);
        font-size: var(--Medium);
        padding-left: var(--xLarge);
    }

    button {
        height: 52px;
        border-radius: var(--Large);
        text-shadow: none;
        background: var(--Blue);
        border: 1px solid var(--Blue);
        font-size: var(--Medium);
        padding-left: var(--Large);
        padding-right: var(--Large);
        margin-left: 20px;
        position: relative;
        top: 0;
        right: 0;

        &:hover {
            background: var(--BlueDark);
        }

        @media (max-width: $phone) {
            padding-left: 0.9em !important;
            padding-right: 0.9em !important;
            min-width: 52px;
        }
    }

    &.sm::before {
        content: none;
    }

    &.sm .search-query {
        padding-left: var(--Medium);
    }
}

#serp-dd {
    top: 80px;

    @media (max-width: $tablet) {
        top: 70px;
    }
}

.articleFoot {
    p,
    time {
        font-family: "Graphik Web", Helvetica, Geneva, sans-serif;
        font-style: normal;
    }
}

#fullArticle {
    ol,
    div,
    blockquote,
    dd,
    table {
        font-size: 16px !important;
        letter-spacing: 0.025em;
        line-height: 1.8;
        margin-bottom: 28px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    .title {
        margin-bottom: 28px !important;
        margin-top: 0 !important;
    }

    img {
        margin: 28px 0;
    }

    strong {
        color: var(--Black);
    }

    li {
        font-size: 16px !important;
        letter-spacing: 0.025em;
        line-height: 1.8;
        margin-bottom: 0 !important;
    }

    .callout-yellow>:last-child,
    .callout-blue>:last-child,
    .callout-red>:last-child,
    .callout-green>:last-child,
    .callout>:last-child,
    .private-note>:last-child {
        margin-bottom: 0 !important;
    }

    dt {
        background: var(--Blue);
        border-radius: 50% !important;
        font-size: 16px;
        height: 28px;
        padding: 0 !important;
        width: 28px;
        line-height: 1.8rem !important;
        margin-top: 2px;
        text-align: center !important;
        vertical-align: middle !important;
    }
}

#docsSearch {
    background: var(--White);
    border-bottom: 1px solid var(--GreyLight);
    margin-bottom: 60px;
    padding-top: 180px;
    padding-bottom: 60px;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;

    @media (max-width: $phone) {
        padding: 4rem 0;
    }

    h1 {
        font-size: 48px;
        line-height: 60px;
        font-weight: 700;
        margin-top: 12px;

        @media (max-width: $phone) {
            font-size: 28px;
            line-height: 32px;
        }
    }

    .help-center-subtitle {
        font-size: 0.75rem;
        color: var(--Grey);
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }
}

#contentArea {
    max-width: 100%;
    .are-you-attorney {
        padding-top: 60px;
        padding-bottom: 180px;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;

        label {
            font-size: 12px;
            color: var(--Black);
            margin-right: 20px;
            font-weight: bold;
            margin-bottom: 0;
        }

        a {
            border: solid 1px var(--GreyLight);
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 24px;
            height: 40px;
            color: var(--Grey);
            font-size: 12px;
            font-weight: bold;
            text-decoration: none;

            span {
                margin-left: 8px;
                width: 20px;
                height: 20px;
            }
        }

        @media (max-width: $phone) {
            flex-direction: column;
            padding: 4rem 0;

            label {
                margin-bottom: 20px;
                margin-right: 0;
            }
        }
    }
}
