/*-----------------------------------*\
	HTML/BODY
\*-----------------------------------*/

body {
	height: 100%;
	max-height: 100%;
	font-family: "Graphik Web", Helvetica, Geneva, sans-serif;
	color: var(--Black);
	-moz-font-feature-settings: "liga" 0, "kern";
	-ms-font-feature-settings: "liga" 0, "kern";
	-o-font-feature-settings: "liga" 0, "kern";
	-webkit-font-feature-settings: "liga" 0, "kern";
	font-feature-settings: "liga" 0, "kern";
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

h1, h2, h3,
h4, h5, h6 {
	color: var(--Black);
	font-family: "Graphik Web", Helvetica, Geneva, sans-serif;
	letter-spacing: 0;
	text-rendering: optimizeLegibility;
}

pre {
	overflow: auto;
}
  
pre > code {
	word-break: break-word !important;
	white-space: pre-wrap !important;       /* css-3 */
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap !important;      /* Opera 4-6 */
	white-space: -o-pre-wrap !important;    /* Opera 7 */
	word-wrap: break-word !important;
}

blockquote p {
    margin-bottom: 0 !important;
}

.contentWrapper {
	h1 {
		font-weight: 700;
	}

	dd p {
    	margin-top: 0 !important;
	}
}


#contentArea {
    max-width: 100%;

	/* Are you attorney section */
    .are-you-attorney {
        padding-top: 60px;
        padding-bottom: 180px;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;

        label {
            font-size: 12px;
            color: var(--Black);
            margin-right: 20px;
            font-weight: bold;
            margin-bottom: 0;
        }

        a {
            border: solid 1px var(--GreyLight);
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 24px;
            height: 40px;
            color: var(--Grey);
            font-size: 12px;
            font-weight: bold;
            text-decoration: none;

            span.icon {
                margin-left: 8px;
                width: 20px;
                height: 20px;
            }
        }

        @media (max-width: $phone) {
            flex-direction: column;
            padding: 4rem 0;

            label {
                margin-bottom: 20px;
                margin-right: 0;
            }
        }
    }
}
