/*-----------------------------------*\
	VARIABLES
\*-----------------------------------*/
$phoneold: 400px;
$phone: 480px;
$tablet: 769px;
$laptop: 992px;
$desktop: 1200px;
/*-----------------------------------*\
	xSmall: 4px
	Small: 8px
	Medium: 16px
	xMedium: 20px
	xxMedium: 24px
	Large: 32px
	xLarge: 64px
\*-----------------------------------*/
:root {
	--xSmall: .25rem;
	--Small: .5rem;
	--Medium: 1rem;
	--xMedium: 1.25rem;
	--xxMedium: 1.5rem;
	--Large: 2rem;
	--xLarge: 4rem;
	--Black: #22262e;
	--BlueLight: #edf9ff;
	--Blue: #008fd5;
	--BlueDark: #006ea3;
	--Green: #4cae4f;
	--GreyLight: #e9eaeb;
	--Grey: #6f7680;
	--White: #ffffff;
}