/* Collection icons */
/* The top ids are for staging and the bottom ids for production */

.collection-category {
    max-width: 1200px;
    margin: 0 auto;
    border-top: solid 1px var(--GreyLight);
    padding-top: 40px;
    
    h2 {
        margin-bottom: 30px;
        text-align: center;
        font-size: var(--SemiMedium);
        font-weight: bold;

        a:hover {
            border-bottom: 0;
        }
    }
}


.category-list {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
    margin: 0 0 40px 0 !important;

    .category {
        box-sizing: border-box;
        border-radius: 8px;
        width: 100%;
        max-width: 284px;
        margin: 0;
        padding: 40px 24px;

        h3 {
            font-size: var(--Medium);
            font-weight: bold;
            margin: 0;
            margin-bottom: 8px;
        }

        .article-count {
            margin: 0;
            color: var(--Grey) !important;
            font-size: 0.75rem;
            text-transform: uppercase;
            font-weight: bold;
        }

        &:hover {
            background-color: var(--BlueLight);
            border: 1px solid var(--Blue);
        }
    }

    @media (max-width: $tablet) {
        & .category {
          margin: 12px 0 -1px;
        }
    }
}

/* End of collection icons */