/* Collection */

.collection-category {
    max-width: 1200px;
    margin: 0 auto;
    border-top: solid 1px var(--GreyLight);
    padding-top: 40px;
    
    h2 {
        margin-bottom: 40px;
        text-align: center;
        font-size: 26px;
        line-height: 1.54;
        font-weight: bold;

        a:hover {
            border-bottom: 0;
        }
    }
}

.category-list {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--xMedium);
    column-gap: var(--xMedium);
    justify-content: center;
    margin: 0 0 40px 0 !important;

    .category {
        box-sizing: border-box;
        border-radius: 8px;
        width: 100%;
        max-width: 284px;
        margin: 0;
        padding: 40px 24px;

        p {
            margin: 0;
        }

        h3 {
            font-size: 16px;
            line-height: var(--xxMedium);
            font-weight: bold;
            margin: 0;
            margin-bottom: 8px;
        }

        .article-count {
            margin: 0;
            color: var(--Grey) !important;
            font-size: 0.75rem;
            line-height: var(--Medium);
            text-transform: uppercase;
            font-weight: bold;
        }

        &:hover {
            background-color: var(--BlueLight);
            border: 1px solid var(--Blue);
        }
    }

    @media (max-width: $tablet) {
        & .category {
          margin: 12px 0 -1px;
        }
    }
}

/* End of collection */