input, button, select, textarea {
    font-family: "Graphik Web", Helvetica, Geneva, sans-serif;
    padding-top: 0.734375rem !important;
    padding-bottom: 0.640625rem !important;
    line-height: 1.75rem !important;
    height: fit-content !important;
}

/* Button */

.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none !important;
    text-shadow: none;
    background-color: transparent;
    background: none;
    border-radius: 100px;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: var(--Small) var(--xxMedium);
    min-height: 40px;
    box-sizing: border-box;
    border: 1px solid var(--GreyLight);
    font-size: 14px;
    line-height: var(--xMedium);

    &:hover,
    &.active,
    &:active,
    &:focus {
        color: var(--Blue) !important;
        border: 1px solid var(--Blue);
        background-color: var(--BlueLight);

        svg path {
            stroke: var(--Blue);
        }
    }
}

/* End Button */

/* Inputs */

select,
textarea,
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color],
.uneditable-input {
    color: var(--Black);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea:focus,
input:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=time]:focus,
input[type=week]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=color]:focus,
.uneditable-input:focus {
    color: var(--Black);
    border-color: var(--Blue);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* End Inputs */

/* Modal */

.modal-body {
    padding: 2em;
}

.modal #closeBtn {
    top: 2.4em;
    right: 2.4em;
}

/* End Modal */

/* Input Group styles */

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;

    &.input-group-sm>.form-control {
        padding: 6px 15px;
        font-size: 15px;
        line-height: 1.3;
        height: 43px;
    }
}

.subscribe-form .form-control {
    border: 1px solid var(--GreyLight);
    color: var(--Black);
    font-weight: 400;
    position: relative;
    float: left;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    width: 1%;
    display: table-cell;
    vertical-align: middle;
}

.input-group-sm>.input-group-btn>.btn {
    height: 43px;
    padding: 6px 15px;
    font-size: 14px;
    line-height: var(--xMedium);
}

/* End Input group */
