/* Footer */

#footer {
    margin-top: 132px;
    height: 48px;
    border-top: 1px solid var(--GreyLight);
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        text-align: center;
        font-size: 0.75rem;
        line-height: var(--Medium);
        color: var(--Grey);
        margin: 0;
    }
}

/* End of Footer */

/* Footer list styles */

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -7px;
    margin-bottom: 0;

    &>li {
        display: inline-block;
        padding-left: 7px;
        padding-right: 7px;
    }
}

/* End of footer list */