.panel {
    margin-bottom: 28px;
    border: 1px solid var(--GreyLight);
    padding: 28px 32px;

    @media (min-width: $laptop) {
        & {
            padding: 48px 52px;
            margin-bottom: 0;
        }
    }
    
}

.panel-body {
    .row {
        margin: 0 -16px;
        display: flex;
        flex-wrap: wrap;

        @media (min-width: $laptop) {
            & {
                flex-wrap: nowrap;
            }
        }
    }

    .col-md-6 {
        position: relative;
        min-height: 1px;
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;

        @media (min-width: $laptop) {
            & {
                width: 50%;
            }
        }
    }
}