#docsSearch {
    background: var(--White);
    border-bottom: 1px solid var(--GreyLight);
    margin-bottom: 60px;
    padding-top: 180px;
    padding-bottom: 60px;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;

    @media (max-width: $phone) {
        padding: 4rem 0;
    }

    h1 {
        font-size: 48px;
        line-height: 60px;
        font-weight: 700;
        margin-top: 12px;

        @media (max-width: $phone) {
            font-size: 28px;
            line-height: 32px;
        }
    }

    .help-center-subtitle {
        font-size: 0.75rem;
        color: var(--Grey);
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }
}

#serp-dd {
    top: 80px;

    @media (max-width: $tablet) {
        top: 70px;
    }
}

#searchBar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 900px;
    position: relative;

    &::before {
        content: "";
        background-image: url('../images/icon-search.svg');
        width: 20px;
        height: 20px;
        position: absolute;
        left: 24px;
        top: 40px;

        @media (max-width: $tablet) {
            top: 34px;
        }
    }

    .search-query {
        height: 52px;
        border-radius: var(--Large);
        font-size: var(--Medium);
        padding-left: var(--xLarge);
    }

    button {
        height: 52px;
        border-radius: var(--Large);
        text-shadow: none;
        background: var(--Blue);
        border: 1px solid var(--Blue);
        font-size: var(--Medium);
        padding-left: var(--Large);
        padding-right: var(--Large);
        margin-left: 20px;
        position: relative;
        top: 0;
        right: 0;

        &:hover {
            background: var(--BlueDark);
        }

        @media (max-width: $phone) {
            padding-left: 0.9em !important;
            padding-right: 0.9em !important;
            min-width: 52px;
        }
    }

    &.sm::before {
        content: none;
    }

    &.sm .search-query {
        padding-left: var(--Medium);
    }
}