#docsSearch {
    background: var(--White);
    border-bottom: 1px solid var(--GreyLight);
    margin-bottom: 60px;
    padding-top: 180px;
    padding-bottom: 60px;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    width: 100%;

    @media (max-width: $phone) {
        padding: 4rem 0;
    }

    h1 {
        font-size: 48px;
        line-height: 60px;
        font-weight: 700;
        margin-top: 12px;
        margin-bottom: 0;

        @media (max-width: $phone) {
            font-size: 28px;
            line-height: 32px;
        }
    }

    .help-center-subtitle {
        font-size: 14px;
        line-height: var(--xMedium);
        color: var(--Grey);
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }
}

#serp-dd {
    top: 80px;

    @media (max-width: $tablet) {
        top: 70px;
    }
}

form#searchBar {
    margin-top: var(--xMedium);
    padding-top: 0;
    padding-bottom: 0;
}

#searchBar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 900px;
    position: relative;

    &::before {
        content: "";
        background-image: url('../images/icon-search.svg');
        width: 20px;
        height: 20px;
        position: absolute;
        left: 24px;
        top: 16px;
    }

    .search-query {
        height: 52px;
        border-radius: var(--Large);
        font-size: var(--Medium);
        line-height: var(--xxMedium);
        padding-left: 52px;
    }

    button {
        height: 52px;
        border-radius: var(--Large);
        text-shadow: none;
        background: var(--Blue);
        border: 1px solid var(--BlueDark);
        font-size: 16px;
        line-height: var(--xxMedium);
        padding-left: var(--Large);
        padding-right: var(--Large);
        margin-left: var(--xMedium);
        position: relative;
        top: 0;
        right: 0;

        &:hover {
            background: var(--BlueDark);
        }

        @media (max-width: $phone) {
            padding: 0;
            min-width: 52px;
            width: 52px;
            min-height: 52px;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                display: none;
            }
        }
    }

    &.sm::before {
        content: none;
    }

    &.sm .search-query {
        padding-left: var(--Medium);
        font-size: 14px;
        line-height: var(--xMedium);
        max-height: 40px;
    }

    &.sm button {
        width: fit-content;
        min-width: 0;
        min-height: 0;
    }
}